.App {
  text-align: center;
}

.home-nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background:#4bb922 ;
  color: #31094b;
}

.nav-links{
width: 40%;
display: flex;
justify-content: space-around;
align-items: center;
list-style:none;
}
.card{
  width: 30% !important;
  margin: 120px auto 30px;
  padding: 0 5% 0 5%;
}

.paginate-nav{
  margin-top: 50px !important;
}

.error-404 {
  margin: 15% auto;
}

.error-boundary {
  margin: 15% auto;
}

.error-404 h1 {
  color: red;
  font-style: italic;
}

.error-boundary h1 {
  color: red;
  font-style: italic;
}

